<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.titou10.jtb.core.ExternalConnectorProvider">
      <externalConnector
            class="org.titou10.jtb.rest.RESTConnector"
            id="org.titou10.jtb.rest.RESTConnector">
      </externalConnector>
   </extension>
   <extension
         id="org.titou10.jtb.rest.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
