<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="QManagerProvider" name="org.titou10.jtb.qManagerProvider" schema="schema/org.titou10.jtb.qManagerProvider.exsd"/>
   <extension-point id="ExternalConnectorProvider" name="org.titou10.jtb.externalConnectorProvider" schema="schema/org.titou10.jtb.externalConnectorProvider.exsd"/>

   <extension id="product" point="org.eclipse.core.runtime.products">
      <product name="JMSToolBox" application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property name="appName" value="JMSToolBox" />
         <property name="lifeCycleURI" value="bundleclass://org.titou10.jtb.core/org.titou10.jtb.config.ConfigManager" />
         <property
               name="windowImages"
               value="icons/branding/jms-icon-32.png">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.titou10.jtb.core/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
