<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.titou10.jtb.core.QManagerProvider">
      <qManager
            class="org.titou10.jtb.qm.solace.SolaceQManager"
            displayName="Solace"
            id="org.titou10.jtb.qm.solace.SolaceQManager">
      </qManager>
   </extension>

</plugin>
