name: Build JMSToolBox
on:
  workflow_dispatch:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
        
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven'

    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.9
    
    - name: Build with Maven
      run: mvn -U -V -e -B -ntp --file org.titou10.jtb.build/pom.xml clean verify

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: jmstoolbox
        path: org.titou10.jtb.product/target/products/jmstoolbox*
        compression-level: 0
